header
    .container
        .row
            .col-md-7.logo
                a(href="#")
                    img(src="img/logo.png", alt="")
            .col-md-5
                ul
                    li
                        a(href="#") Home
                    li
                        a(href="#") About
                    li
                        a(href="#") Work
                    li
                        a(href="#") Blog
                    li
                        a(href="#") Contact
